.container {
    text-align: center;
    margin: 3em auto;
}

.imagem {
    width: 460px;
    border-radius: 12em;
}

.textoDestaque {
    font-size: 5em;
    margin: 0;
}

.textoRecado {
    margin: 3em 0;
}

.botao {
    color: #FFF;
    background-color: #7E1701;
    text-decoration: none;
    font-size: 40px;
    padding: .5em;
    border-radius: .5em;
}