.container {
    display: absolute;
    background: url('./background1.png');
    block-size: fit-content;
    height: 400px;
    text-align: center;
    padding-top: 14em;
}

.oQueEhGM {
    background-color: #7C0B0B;
    display: flex;
    flex-direction: column;
    width: 80.96em;
    color: #FFF;
    opacity: 85%;
    padding: 1em 0;
}

.titulo {
    font-size: 2.5em;
}

.texto {
    margin-top: 10px;
    font-size: 1.2em;
}