* {
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.titulo {
    font-size: 3em;
    margin: .34em 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: .75em 10em;
    border-radius: 10px;
}

.senhaContainer {
    display: flex;
    margin: 0;
}

.visibilidadeBotaoSenha {
    margin-left: -12em;
    border: none;
    font-size: 15px;
    background-color: #7E1701;
    color: #FFF;
    font-weight: 600;
    padding: 5px;
    border-radius: 1.5em;
}

.botao {
    padding: 10px;
    font-size: 2em;
    margin: .96em 15em;
    border: 0;
    border-radius: .25em;
    color: #FFF;
    background-color: #7E1701;
    font-weight: 500;
}

.botao:hover {
    cursor: pointer;
}

.erro {
    color: #FF0000;
    text-decoration: underline;
    font-weight: 600;
}

.login {
    color: #777777;
    font-size: 1.25em;
    margin-bottom: 1.5em;
}