.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoCriarProduto {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    background-color: #7C0B0B;
    padding: 1em;
    border-radius: 1em;
}

.objProduto {
    background-color: #E2E2E2;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    min-width: 60em;
    border-radius: 1em;
    margin: .5em 0;
    align-items: center;
}

.opcao {
    padding: .75em;
    font-size: 1em;
    border-radius: .75em;
    margin: 0 5px;
    border: none;
}

.opcao:hover {
    cursor: pointer;
}